# dependencies
node_modules/

# build outputs
.next/
out/
dist/

# turbo
.turbo/

# test coverage output (vitest --coverage)
coverage/

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# devpod
.devpod-internal/
.pnpm-store/
# sanity studio local runtime cache
.sanity/
